.myHeader{
    background-color: cadetblue;
    color: wheat;
}

.myHeader h1{
    margin: 0%;
    padding: 5px;
}

.movie{
    background-color: #ccc;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    width: 15%;
}

.main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.movie img{
    width: 100%;
    height: 200px;
}